body{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.navigation {
    background-color: #54F98D; /* Couleur de fond */
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Espacement équilibré entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
    padding: 20px 50px; /* Espace intérieur */
    font-weight: 700; /* Épaisseur de la police */
    font-size: 18px; /* Taille de la police */
    /* font-family: 'Montserrat', sans-serif;  */
    text-transform: uppercase; /* Mettre en majuscules */
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.navigation a {
        text-decoration: none; /* Supprimer le soulignement des liens */
        color: #333; /* Couleur du texte */
    
}
.navigation a:hover {
    color: white;
    transform: scale(1.1);
    text-decoration: underline;
}
h4{
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
}
h1 {
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;     
}
th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 150px;
}
.img img {
    max-width: 800px;
    height: auto;
}
.paragraphe {
    /* display: flex; */
     width: 500px;
    height: 380px;
    border: 5px solid black;
    border-radius: 3px;
    text-align: center;
    text-align: justify;
    padding-top: 100px;
 }
.table-container {
    margin: 0 auto;
    width: 80%;
}
.horaire{
    margin: 0 auto;
    width: 80%;
}
.container-img {
    object-fit: cover;
    overflow: hidden;
}
.competition {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.trophe, .sourire, .foreign, .guest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #99ff7a;
}
.foreign{
    margin-bottom: 20px;
    width: 1600px;
}
p {
    text-align: center;
}
h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
}
hr{
    margin: 35px;
}
h5{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
.para{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
.paragraphe-meet{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
.pied {
    background-color: #d2d2bc; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 16px; 
    line-height: 2; /* Hauteur de ligne */
    color: black;
}
.pied span {
    display: block; /* Afficher chaque élément sur une ligne distincte */
}
  /* Styliser les cellules du tableau */
table {
     border-collapse: collapse; /* Fusionner les bordures des cellules */
    width: 100%; /* Prendre la largeur totale de son conteneur */
}
    
    /* Styliser les cellules de données */
td {
    padding: 8px; /* Ajouter de l'espace autour du texte dans la cellule */
    border: 1px solid #dddddd; /* Ajouter une bordure autour de chaque cellule */
    text-align: center; /* Centrer le texte dans la cellule */
}
    /* Styliser les en-têtes de colonne */
th {
    padding: 8px; /* Ajouter de l'espace autour du texte dans la cellule */
    border: 1px solid #dddddd; /* Ajouter une bordure autour de chaque cellule */
    text-align: center; /* Centrer le texte dans la cellule */
    background-color: #f2f2f2; /* Couleur de fond pour les en-têtes de colonne */
}
    
/* Styliser les cellules de données de la première colonne */
td:nth-child(1) {
    font-weight: bold; /* Mettre en gras le texte */
}
    /* Styliser les cellules de données des prix */
td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    color: #00cc66; /* Vert */
    font-weight: bold; /* Mettre en gras le texte */
}
    
 /* Styliser les cellules avec un contenu vide */
td:empty {
    background-color: #ffe6e6; /* Fond rouge pour les cellules vides */
}
/* Styliser les lignes impaires */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Gris clair */
}
/* Styliser les lignes au survol */
tbody tr:hover {
    background-color: #cce6ff; /* Bleu clair */
}
    