/* style pour la page incription */
body{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.navigation {
    background-color: #54F98D; /* Couleur de fond */
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Espacement équilibré entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
    padding: 20px 50px; /* Espace intérieur */
    font-weight: 700; /* Épaisseur de la police */
    font-size: 18px; /* Taille de la police */
    font-family: 'Montserrat', sans-serif; /* Police de caractères */
    text-transform: uppercase; /* Mettre en majuscules */
}
.navigation a {
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: #333; /* Couleur du texte */
    transition: color 0.3s ease; /* Transition fluide de la couleur du texte */
}
.navigation :hover {
    color: white;
    transform: scale(1.1);
}
h1{
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
 }
h2{
    text-decoration: underline;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 25px;
}
h3{
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 20px;
}
ol{
    margin-left: 15px;
}
form{
    margin-left: 15px;
}
p{
    margin-bottom: 20px;
    margin-left: 20px;
}
/* Style pour la page contact */
.pied {
    background-color: #d2d2bc; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 16px; 
    line-height: 2; /* Hauteur de ligne */
    color: black;
}
.pied span {
    display: block; /* Afficher chaque élément sur une ligne distincte */
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555;
}
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        width: 100%;
    }
}